:root {
  --primary_100: #d9cdf7;
  --primary_200: #625580;
  --primary_300: #271a45;
  --border: 0.06rem solid var(--primary_300);
  --font_sans: "Lato", sans-serif;
  --font_serif: "Crimson Pro", serif;
  --transition: 100ms;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: var(--font_sans);
  font-size: 16px;
  color: var(--primary_300);
}

body {
  background-color: var(--primary_100);
}

.wrapper {
  min-height: 100dvh;
  display: grid;
  place-content: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 2rem;
  padding: 1rem;
}

.rotate__image {
  width: 450px;
  aspect-ratio: 900/506;
  background-size: cover;
  background-image: url(/sofa-sprites.png);
  background-position: 0 0;
}

.rotate__action {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.rotate__range {
  appearance: none;
  flex-grow: 1;
  background-color: transparent;
  cursor: pointer;
}

/* webkit range input */
.rotate__range::-webkit-slider-runnable-track {
  border: var(--border);
  height: 0.4rem;
  border-radius: 99rem;
}

.rotate__range::-webkit-slider-thumb {
  appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: var(--primary_300);
  margin-top: -0.3rem;
}
/* end webkit range input */

/* moz range input */
.rotate__range::-moz-range-track {
  border: var(--border);
  height: 0.4rem;
  border-radius: 99rem;
}

.rotate__range::-moz-range-thumb {
  appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: var(--primary_300);
  margin-top: -0.3rem;
  border: none;
}
/* end moz range input */

.data {
  display: grid;
  place-content: center left;
}

.data__sku {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 10px;
}

.data__name {
  font-family: var(--font_serif);
  font-size: 32px;
  margin-top: 0.8rem;
}

.data__price {
  color: var(--primary_200);
  font-size: 16px;
  margin-top: 0.6rem;
}

.data__add-to-cart {
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 1rem;
  background-color: var(--primary_100);
  border: 0.06rem solid var(--primary_300);
  border-radius: 99rem;
  padding: 0.6rem 1.2rem;
  justify-self: flex-start;
  cursor: pointer;
  transition: var(--transition);
}

.data__add-to-cart:hover {
  background-color: var(--primary_300);
  color: var(--primary_100);
}

.data__add-to-cart:active {
  background-color: var(--primary_200);
  color: var(--primary_100);
}
