main {
  display: grid;
  grid-template-columns: 72fr 28fr;
  max-width: 1450px;
  min-height: 100dvh;
  margin: 0 auto;
}

section {
  padding: 2rem;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

p {
  color: var(--gray_200);
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

table {
  border-radius: 0.5rem;
  border-collapse: collapse;
  overflow: hidden;
  text-align: center;
  margin-top: 4.25rem;
}

tr {
  border-right: 0.4rem solid var(--primary_400);
}

tr:first-of-type {
  height: 4rem;
}

tr:last-of-type {
  border-bottom: 0.4rem solid var(--primary_400);
}

th,
td {
  padding: 1rem 1.2rem;
}

th {
  background-color: var(--primary_400);
  font-size: 0.7rem;
  font-weight: 400;
  text-transform: uppercase;
}

tr:nth-of-type(2) th,
tr:nth-of-type(2) td {
  padding-top: 2rem;
}

tr:last-of-type th,
tr:last-of-type td {
  padding-bottom: 2rem;
}

.tests {
  background-color: var(--primary_500);
}

.tests__buttons {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 4.25rem;
}
