:root {
  --primary_100: #464556;
  --primary_200: #363447;
  --primary_300: #292738;

  --box_shadow: 0.25rem 0.25rem 1.6rem rgb(0 0 0 / 0.25);
}

body {
  background-color: var(--primary_300);
  padding: 1rem;
}

.App {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
