:root {
  --primary_100: #464556;
  --primary_200: #363447;
  --primary_300: #292738;
}

body {
  background-color: var(--primary_300);
  padding: 1rem;
}

.App {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
