button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border-radius: 999rem;
  border: none;
  background: none;
  padding: 1rem 1.6rem;
  color: var(--gray_100);
  font-size: 0.875rem;
  transition: 100ms;
}

img {
  margin-right: 0.6rem;
}

/* types */
button.default {
  cursor: auto;
}

button.hover {
  cursor: auto;
}

button:focus,
button.focus {
  cursor: auto;
  box-shadow: 0 0 0 0.1rem var(--gray_100);
}

button:disabled,
button.disabled {
  cursor: not-allowed;
  color: var(--gray_300);
}

button.loading {
  cursor: progress;
}

button.loading img {
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

button.movable {
  cursor: move;
}

/* variants */
button.primary {
  background-color: var(--primary_200);
}

button.primary:hover,
button.primary.hover {
  background-color: var(--primary_100);
}

button.primary:disabled,
button.primary.disabled {
  background-color: var(--primary_300);
}

button.secondary {
  background-color: var(--secondary_200);
}

button.secondary:hover,
button.secondary.hover {
  background-color: var(--secondary_100);
}

button.secondary:disabled,
button.secondary.disabled {
  background-color: var(--gray_400);
}

button.tertiary,
button.tertiary:hover,
button.tertiary.hover {
  background-color: transparent;
}
