:root {
  --primary-100: #633bbc;
  --primary-200: #282843;
  --primary-300: #1a1924;
  --secondary-100: #07847e;
  --gray-100: #fff;
  --gray-200: #e1e1e6;
  --gray-300: #a3a3b5;

  --default-padding: 20px;
  --initials-height: 48px;
  --user-name-height: calc(var(--initials-height) + 2 * var(--default-padding));
  --input-height: 52px;
  --form-height: calc(var(--input-height) + 2 * var(--default-padding));
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
}

body {
  background-color: var(--primary-300);
  color: var(--gray-100);
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.user {
  display: flex;
  gap: 1rem;
  align-items: center;
  height: var(--user-name-height);
  padding: var(--default-padding);
}

.user__initials {
  display: grid;
  place-content: center;
  width: 48px;
  height: 48px;
  background-color: var(--secondary-100);
  border-radius: 50%;
}

.user__name {
  font-weight: bold;
}

.name-form-dialog {
  background-color: var(--primary-300);
  border: none;
  border-radius: 8px;
  padding: var(--default-padding);
}

.name-form-dialog::backdrop {
  background-color: rgb(255 255 255 / 0.2);
}

.name-form {
  display: grid;
  gap: 1rem;
}

.name-form__input {
  border: none;
  background-color: var(--primary-200);
  outline: none;
  border-radius: 8px;
  padding: 8px;
  color: var(--gray-100);
  font-size: 1rem;
}

.name-form__input::placeholder {
  color: var(--gray-300);
}

.name-form__input:focus {
  box-shadow: 0 0 0 0.1rem var(--gray-200);
}

.name-form__button {
  font-size: 1rem;
  border: none;
  background-color: var(--secondary-100);
  outline: none;
  border-radius: 8px;
  padding: 8px;
  color: var(--gray-100);
  cursor: pointer;
  transition: 100ms;
}

.name-form__button:focus {
  box-shadow: 0 0 0 0.1rem var(--gray-200);
  filter: brightness(120%);
}

.name-form__button:hover {
  filter: brightness(120%);
}

.message-list-wrapper {
  height: calc(100dvh - var(--user-name-height) - var(--form-height));
  padding: var(--default-padding);
  overflow-y: scroll;
  scrollbar-color: var(--primary-200) transparent;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-200);
  border-radius: 99rem;
}

.message-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.message-list__item {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.message-list__item--is-me {
  align-items: flex-end;
}

.message__meta {
  font-size: 0.8rem;
}

.message-list__item--is-me .message__meta {
  text-align: right;
}

.message__text {
  background-color: var(--primary-100);
  font-size: 1rem;
  max-width: 40dvw;
  padding: 14px;
  border-radius: 0 8px 8px 8px;
}

.message-list__item--is-me .message__text {
  background-color: var(--secondary-100);
  padding: 14px;
  border-radius: 8px 8px 0 8px;
}

.message-form-wrapper {
  height: var(--form-height);
  padding: var(--default-padding);
}

.message-form {
  height: var(--input-height);
  display: flex;
  gap: 1rem;
  background-color: var(--primary-200);
  border-radius: 99rem;
  padding: 0 var(--default-padding);
}

.message-form:focus-within {
  box-shadow: 0 0 0 0.1rem var(--gray-200);
}

.message-form__input {
  flex-grow: 1;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 1rem;
  color: var(--gray-100);
}

.message-form__input::placeholder {
  color: var(--gray-300);
}

.message-form__button {
  flex-shrink: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: 100ms;
  outline: none;
  border-radius: 8px;
}

.message-form__button:focus {
  box-shadow: 0 0 0 0.1rem var(--gray-200);
  filter: brightness(120%);
}

.message-form__button:hover {
  filter: brightness(120%);
}
