:root {
  --default-padding: 20px;

  --initials-height: 48px;
  --user-name-height: calc(var(--initials-height) + 2 * var(--default-padding));

  --input-height: 52px;
  --form-height: calc(var(--input-height) + 2 * var(--default-padding));
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
}

body {
  background-color: #1a1924;
  color: #fff;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.user {
  display: flex;
  gap: 1rem;
  align-items: center;
  height: var(--user-name-height);
  padding: var(--default-padding);
}

.user__initials {
  display: grid;
  place-content: center;
  width: 48px;
  height: 48px;
  background-color: #07847e;
  border-radius: 50%;
}

.user__name {
  font-weight: bold;
}

.name-form-dialog {
  background-color: #1a1924;
  border: none;
  border-radius: 0.4rem;
}

.name-form-dialog::backdrop {
  background-color: rgb(255 255 255 / 0.1);
  opacity: 0.6;
}

.message-list-wrapper {
  height: calc(100dvh - var(--user-name-height) - var(--form-height));
  padding: var(--default-padding);
  overflow-y: scroll;
  scrollbar-color: #282843 transparent;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #282843;
  border-radius: 99rem;
}

.message-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.message-list__item {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.message-list__item--is-me {
  align-items: flex-end;
}

.message__meta {
  font-size: 12px;
}

.message-list__item--is-me .message__meta {
  text-align: right;
}

.message__text {
  background-color: #633bbc;
  font-size: 12px;
  max-width: 40dvw;
  padding: 14px;
  border-radius: 0 8px 8px 8px;
}

.message-list__item--is-me .message__text {
  background-color: #07847e;
  padding: 14px;
  border-radius: 8px 8px 0 8px;
}

.message-form-wrapper {
  height: var(--form-height);
  padding: var(--default-padding);
}

.message-form {
  height: var(--input-height);
  display: flex;
  gap: 1rem;
  background-color: #282843;
  border-radius: 99rem;
  padding: 0 var(--default-padding);
}

.message-form:focus-within {
  box-shadow: 0 0 0 0.1rem #e1e1e6;
}

.message-form__input {
  flex-grow: 1;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 12px;
  color: #fff;
}

.message-form__input::placeholder {
  color: #e1e1e6;
}

.message-form__button {
  flex-shrink: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: 100ms;
}

.message-form__svg:hover path {
  opacity: 0.8;
}
