main {
  display: grid;
  grid-template-columns: auto 406px;
  max-width: 1517px;
  min-height: 100dvh;
  margin: 0 auto;
}

section {
  padding: 2rem;
}

table {
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  margin-top: 68px;
}

th {
  padding: 1.6rem;
  background-color: #1c162c;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
}

td {
  padding: 1.6rem;
}

.tests {
  background-color: #130f1e;
}

.tests__buttons {
  display: grid;
  gap: 1rem;
  place-content: center;
  margin-top: 68px;
}
