main {
  display: grid;
  grid-template-columns: 72fr 28fr;
  max-width: 1450px;
  min-height: 100dvh;
  margin: 0 auto;
}

section {
  padding: 2rem;
}

h1 {
  font-size: 32px;
  margin: 0;
}

p {
  color: #aeaeb0;
  font-size: 19.21px;
  margin-top: 8px;
}

table {
  border-radius: 8px;
  border-collapse: collapse;
  overflow: hidden;
  text-align: center;
  margin-top: 68px;
}

tr {
  border-right: 0.4rem solid #1c162c;
}

tr:last-of-type {
  border-bottom: 0.4rem solid #1c162c;
}

th {
  padding: 1rem;
  background-color: #1c162c;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
}

td {
  padding: 1rem;
}

.tests {
  background-color: #130f1e;
}

.tests__buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 68px;
}
