/* global variables */
:root {
  --primary_100: #975dfa;
  --primary_200: #7f45e2;
  --primary_300: #462878;

  --gray_100: #ebebeb;
  --gray_200: #6b6b6b;
  --gray_300: #2d2a37;
}

/* soft reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* general styles */
html,
button {
  font-family: Rubik, sans-serif;
  font-size: 16px;
  color: var(--gray_100);
}

body {
  background: linear-gradient(#807ece, #8e7ece);
}

button {
  cursor: pointer;
}

/* calculator styles */
.wrapper {
  min-height: 100dvh;
  display: grid;
  place-content: center;
}

.container {
  width: 356px;
  height: 566px;
  background-color: var(--gray_300);
  border-radius: 48px;
  padding: 54px 32px 32px;
  /* prettier-ignore */
  box-shadow:
    inset 0 4px 4px rgb(255 255 255 /0.1),
    inset 0 -4px 4px rgb(0 0 0 /0.1),
    0 2px 2px rgb(0 0 0 /0.2),
    0 8px 8px rgb(0 0 0 /0.2),
    0 32px 32px rgb(0 0 0 /0.2);
}

.screen {
  width: 288px;
  height: 86px;
  text-align: right;
}

.screen__last-operation {
  color: var(--gray_200);
  font-size: 20px;
  height: 28px;
}

.screen__current-operation-wrapper {
  display: grid;
  gap: 16px;
  grid-template-columns: 11px auto;
  align-items: center;
}

.screen__equals {
  font-size: 20px;
  color: var(--gray_200);
}

.screen__current-operation {
  margin-top: 8px;
  color: var(--gray_100);
  font-size: 36px;
  height: 50px;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  /* firefox */
  scrollbar-color: var(--gray_200) transparent;
}

/* chrome */
.screen__current-operation::-webkit-scrollbar {
  background-color: transparent;
  height: 4px;
}

.screen__current-operation::-webkit-scrollbar-thumb {
  background-color: var(--gray_200);
  border-radius: 99rem;
}
/* end chrome */

.keyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  margin-top: 26px;
}

.keyboard__button {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: none;
  font-size: 24px;
  background: linear-gradient(rgb(0 0 0 /0.05), rgb(255 255 255 /0.05));
  transition: border 100ms;
  /* prettier-ignore */
  box-shadow:
    0 0 2px rgb(0 0 0 /0.2),
    0 4px 4px rgb(0 0 0 /0.2),
    inset 0 2px 2px rgb(255 255 255 /0.075);
}

.keyboard__button:hover {
  border: 1px solid var(--gray_100);
}

.keyboard__button:active {
  border: 1px solid var(--gray_200);
}

.keyboard__button--ce {
  color: var(--primary_100);
}

.keyboard__button--operator {
  background: linear-gradient(rgb(70 40 120), rgb(84, 53, 134));
}

.keyboard__button--equals {
  background: linear-gradient(rgb(127, 69, 226), rgb(144, 85, 245));
}
